
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Path Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <div class="controls">
            <button onclick="findPath()">Find path</button>
            <select id="options" onchange="setCurrentOption()">
                <option value="start">Start</option>
                <option value="destination">Destination</option>
                <option value="obstacle">Obstacle</option>
            </select>
            <button onclick="resetMap()">Reset</button>
        </div>
        <div class="map" id="map"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>